<!-- 一覧表示＆メインメニュー -->

<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ブログ</h1>
    <nav>
        <ul>
            <li>名前</li>
            <!-- <li><a th:href="${index.html}">ホーム</a></li>
            <li><a th:href="about.html">私たちについて</a></li>
            <li><a th:href="services.html">サービス</a></li>
            <li><a th:href="contact.html">お問い合わせ</a></li> -->
        </ul>
    </nav>
    <!-- <p><span th:text="${title}">今日の天気</span></p> -->
</body>
</html>