<!-- 投稿を作成する -->

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>新規投稿</h2>
    <form action="/main" method="post">
        <!-- タイトル送信フォームを作る -->
        <div class="blogTitle">
            <label for="title">タイトル</label><br>
            <input type="text" name="タイトル" placeholder="タイトル"><br>
        </div>

        <!-- 本文入力フォームを作る -->
        <div class="blogMainText">
            <label for="mainText">本文</label><br>
            <textarea name="mainText" placeholder="本文"></textarea><br>
        </div>

        <!-- 保存・キャンセルボタン -->
         <div>
            <button type="submit">保存</button>
            <a th:href="@{/tasks}">キャンセル</th>
         </div>
    </form>
</body>
</html>